ci:
  skip:
    - deno-fmt

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
        exclude: 'src/icons/.*\.svg'
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-json
      - id: check-toml
      - id: check-yaml
  - repo: local
    hooks:
      - id: deno-fmt
        name: deno fmt
        entry: deno fmt
        language: system
        types_or:
          - html
          - css
          - javascript
          - ts
          - json
          - yaml
        exclude_types:
          - markdown
        exclude: ^pnpm-lock\.yaml$
  - repo: https://github.com/kytta/mirrors-svgo
    rev: v4.0.0-rc.1
    hooks:
      - id: svgo
        files: "^src/icons/"
        additional_dependencies:
          - svgo@3
