:root {
  --shareon-size: 20px;
  --shareon-padding: 8px;
  --shareon-radius: 4px;
  --shareon-svg: none;
  --shareon-background: #333;
}

.shareon {
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
}

.shareon > * {
  box-sizing: content-box;
  height: var(--shareon-size);
  min-width: var(--shareon-size);
  padding: var(--shareon-padding);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--shareon-padding);

  border: none;
  border-radius: var(--shareon-radius);
  color: white;
  background-color: var(--shareon-background);

  font-size: calc(var(--shareon-size) * 0.8);
  text-decoration: none;

  transition: opacity 300ms ease;
}

.shareon > *:hover {
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.shareon > *::before {
  height: var(--shareon-size);
  width: var(--shareon-size);

  background-image: var(--shareon-svg);
  background-repeat: no-repeat;
  background-size: var(--shareon-size) var(--shareon-size);
  content: "";
  vertical-align: middle;
}

.shareon > .copy-url {
  --shareon-svg: url("icons/copy-url.svg");
}

.shareon > .copy-url.done {
  --shareon-svg: url("icons/copy-url-done.svg");
}

.shareon > .facebook {
  --shareon-svg: url("icons/facebook.svg");
  --shareon-background: #1877f2;
}

.shareon > .linkedin {
  --shareon-svg: url("icons/linkedin-in.svg");
  --shareon-background: #0a66c2;
}
.shareon > .linkedin:not(:empty) {
  --shareon-svg: url("icons/linkedin.svg");
}

.shareon > .mastodon {
  --shareon-svg: url("icons/mastodon.svg");
  --shareon-background: #6364ff;
}

.shareon > .messenger {
  --shareon-svg: url("icons/messenger.svg");
  --shareon-background: #00b2ff;
}

.shareon > .odnoklassniki {
  --shareon-svg: url("icons/odnoklassniki.svg");
  --shareon-background: #ee8208;
}

.shareon > .pinterest {
  --shareon-svg: url("icons/pinterest.svg");
  --shareon-background: #bd081c;
}

.shareon > .pocket {
  --shareon-svg: url("icons/pocket.svg");
  --shareon-background: #ef3f56;
}

.shareon > .reddit {
  --shareon-svg: url("icons/reddit.svg");
  --shareon-background: #ff4500;
}

.shareon > .telegram {
  --shareon-svg: url("icons/telegram.svg");
  --shareon-background: #26a5e4;
}

.shareon > .teams {
  --shareon-svg: url("icons/teams.svg");
  --shareon-background: #6264a7;
}

.shareon > .twitter {
  --shareon-svg: url("icons/twitter.svg");
  --shareon-background: #1d9bf0;
}

.shareon > .viber {
  --shareon-svg: url("icons/viber.svg");
  --shareon-background: #7360f2;
}

.shareon > .vkontakte {
  --shareon-svg: url("icons/vkontakte.svg");
  --shareon-background: #0077ff;
}

.shareon > .web-share {
  --shareon-svg: url("icons/web-share.svg");
}

.shareon > .whatsapp {
  --shareon-svg: url("icons/whatsapp.svg");
  --shareon-background: #25d366;
}
